html
{
	height: 100%;
	font-family: "Arial";
}
body 
{	
  position: relative;
  text-align: center;
  margin: 0;
  padding-bottom: 140px;
  min-height: 100%;
  background-color:#c6c4c4;
}

h1 
{
	color: white;
}

h2 
{
	color: white;
}

h3 
{
	color: white;
}

p
{
	color: white;
}

.top ul
{
		background-color: #333333;
		display: inline-block;
    	list-style-type: none;
    	width: 100%;
    	margin: 0;
   	 	padding: 0;
    	overflow: auto;
    	
    	
}

.top li 
{
    	display: inline;

    	
}

.top li a 
{
		font-weight: bold;
	    display: inline-block;
	    color: white;
	    text-align: center;
	    padding: 16px;
	    padding-right: 50px;
	    padding-left: 50px;
	    text-decoration: none;
}


.top li a:hover 
{
    background-color: #111111;
}


.contactInfo ul 
{
	position: relative;
}

.contactInfo li 
{
	float:right;
	display: block;
	color: white;
	padding: 16px;
	text-decoration: none;

}

.contactInfo .footerText
{
		font-size:24px; 
		color: white;
		line-height: 2;
	    
}

.footer 
{
  position: absolute;
  width: 100%;
  bottom: 0px;
  background-color: #333333;
}


.contactForm
{
	display: inline-block;
	text-align:left;
	border:1px solid #ccc;
	width:300px;
	padding:0 50px 15px;
	margin-top:20px;
	box-shadow:0 0 15px;
	border-radius:6px;
}


.textBody
{
	
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 45%;
	margin:5% auto;
	width: 75%;
	word-wrap: normal;
	background: rgb(79,78,78,.4);
}


.bgImage
{
	width: 100%;
	height: 100%;
   	position: absolute;
 	left: 0px;
   	top: 0px;

   	z-index: -1;
   	filter: blur(4px);
   	
}

.textBody p
{	
	font-size:18px; 

}


