html
{
	height: 100%;
	font-family: "Arial";
}
body 
{	
  position: relative;
  text-align: center;
  margin: 0;
  padding-bottom: 140px;
  min-height: 100%;
  background-color:#c6c4c4;
}


h1 
{
	color: white;
}

h2 
{
	color: white;
}

h3 
{
	color: white;
}

p
{
	color: white;
}

form
{
	color:white;
}
hr
{
	border:0;
	height: 3px;
	background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255,255, 0.90), rgba(255, 255, 255, 0));
}

.top ul
{
	background-color: #333333;
	display: inline-block;
    list-style-type: none;
    width: 100%;
    margin: 0;
   	padding: 0;
    overflow: auto;
    margin-right: auto;    
    margin-left: auto;    
    max-width: 100%;    

    	
}

.top li 
{
    	display: inline;

    	
}

.top li a 
{
		font-weight: bold;
	    display: inline-block;
	    color: white;
	    text-align: center;
	    padding: 16px;
	    padding-right: 50px;
	    padding-left: 50px;
	    text-decoration: none;

}


.top li a:hover 
{
    background-color: #111111;

}


.contactInfo ul 
{
	position: relative;

}

.contactInfo li 
{
	float:right;
	display: block;
	color: white;
	padding: 16px;
	text-decoration: none;


}

.contactInfo .footerText
{
	font-size:24px; 
	color: white;
	line-height: 2;
	    
}

.footer 
{
   position: absolute;
   width: 100%;
   bottom: 0px;
   background-color: #333333;
   overflow: auto;
   max-width: 100%;    
   
    	
}


.contactForm
{
	display: inline-block;
	text-align:left;
	border:1px solid #ccc;
	width:300px;
	padding:0 50px 15px;
	margin-top:20px;
	box-shadow:0 0 15px;
	border-radius:6px;
	background: rgb(79,78,78,1);
}

.projectsLink
{
	color:#8a8ea8;
	font-size: 24px;
}
.projectsLink:visited 
{
	color:#8a8ea8;
	font-size: 24px;
}
.textBody 
{
	
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 45%;
	margin:5% auto;
	width: 75%;
	word-wrap: normal;
	background: rgb(79,78,78,.5);
	overflow: auto;
  	position: relative;
 
}

.mainText 
{
	text-align: left;
}


.listMenu
{
	border-color: white; 
	border-style:  solid;
	background: rgba(67,70,82,.70);
	text-align: left;
	padding:  10px;

}

.listMenu a
{
	color:#8a8ea8;
	font-size: 24px;
	text-underline-position: 
}

.listMenu a:visited 
{
	color:#8a8ea8;
	font-size: 24px;
}

.bgImage:after
{

  content: "";

  background-color: black;

  background-image: url("./Resources/Images/BackgroundTemp.jpg");
  background-image: linear-gradient(rgba(255,255,255,0) ,rgba(0,0,0,1) 70%), url(./Resources/Images/BackgroundTemp.jpg);
  background-repeat:  no-repeat; 
  
  min-height: 100%;
  min-width: 100%;

  /* Set up proportionate scaling */
  width:auto;
  height: auto;

  filter: blur(5px); 
  display: block;
  position: absolute;
  top: 0;
  left: -100px;
  right: 0;
  bottom: 0;
  z-index: -1;
  
 
 
}

.textBody p
{	
	font-size:18px; 

}



